ingress-nginx:
  controller:
    image:
      repository: {{ services.coreServices.networking.nginxIngress.controllerImageRepository }}
    admissionWebhooks:
      patch:
        image:
          repository: {{ services.coreServices.networking.nginxIngress.admissionWebhooksImageRepository }}
  defaultBackend:
    image:
      repository: {{ services.coreServices.networking.nginxIngress.defaultBackendImageRepository }}