prometheus-node-exporter:
  image:
    registry: {{ services.coreServices.observability.prometheusNodeExporter.imageRegistry }}
    repository: {{ services.coreServices.observability.prometheusNodeExporter.imageRepository }}