---
{% if services.coreServices.security.externalSecrets.clusterSecretStore.enabled == "true" -%}
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: azure-kv-secret-store
spec:
  provider:
    azurekv:
      tenantId: "{{ services.coreServices.security.externalSecrets.clusterSecretStore.tenantId }}"
      vaultUrl: "{{ services.coreServices.security.externalSecrets.clusterSecretStore.vaultUrl }}"
      authSecretRef:
        clientId:
          name: azure-kv-access
          key: client-app-id
          namespace: external-secrets
        clientSecret:
          name: azure-kv-access
          key: client-app-secret
          namespace: external-secrets
{%- endif -%}