data "azurerm_subscription" "current" {
}

data "azurerm_client_config" "current" {
}

data "azuread_client_config" "current" {}



data "azuread_group" "it_adm" {
  object_id        = "{{ }}"
  security_enabled = true

}


data "azuread_service_principal" "devops_terraform_cicd" {

  display_name = "{{ }}"
}



data "azuread_group" "main" {
  display_name     = var.azuread_group_display_name
  security_enabled = true

  depends_on = [
    azuread_group.main
  ]
}

data "azuread_users" "members" {
  user_principal_names = "{{ }}" #["", ""]
}

data "azuread_users" "owners" {
  user_principal_names = "{{ }}" #["", ""]
}

