data "azurerm_subscription" "current" {
}

data "azurerm_client_config" "current" {
}

data "azuread_client_config" "current" {}



data "azuread_group" "it_adm" {
  object_id        = "{{ azureData.azureadItAdmObjectId }}"
  security_enabled = true

}


data "azuread_service_principal" "devops_terraform_cicd" {

  display_name = "{{ azureData.azureadServicePrincipalDisplayName }}"
}


data "azuread_users" "members" {
  user_principal_names = {{ azureData.azureadUsersMembers }}
}

data "azuread_users" "owners" {
  user_principal_names = {{ azureData.azureadUsersOwners }}
}

